@model The_Learning_Hub_Hotel.Models.PReservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PReservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toltalprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toltalprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoicepdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoicepdf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Roomid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Reservationsid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
